<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.base" value="/tmp/vegetables/logs/vegetables" />
	<property name="default.pattern" value="%date [%thread] %-5level %logger{80} - %msg%n" />
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
	    <Encoding>UTF-8</Encoding>
		<encoder charset="UTF-8">
			<pattern>${default.pattern}</pattern>
		</encoder>
	</appender>
	
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>${log.base}.log</File>
        <!-- 可让每天产生一个日志文件，最多 180 个，自动回滚 -->  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>180</maxHistory>  
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${default.pattern}</pattern>
        </layout>
    </appender>

 <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->  
    <logger name="org.hibernate" level="DEBUG" />  
    <logger name="org.springframework" level="DEBUG" />  
    <logger name="com.opensymphony" level="DEBUG" />  
    <logger name="org.apache" level="ERROR" />  
    
    <logger name="org.springframework.ui.freemarker" level="DEBUG" />  
  
    <!-- show parameters for hibernate sql 专为 Hibernate 定制 -->  
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="DEBUG" />  
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG" />  
    <logger name="org.hibernate.SQL" level="DEBUG" />  
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />  
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />      
    
	<logger name="com.faithbj.shop" level="DEBUG"/>
	 <!-- spring security --> 
	<logger name="org.springframework.security" level="DEBUG" /> 
	
	<root level="DEBUG">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/> 
	</root>
</configuration>